# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
.env

# Node
node_modules/
ui/node_modules/

# Logs
*.log

# macOS
.DS_Store

# VS Code
.vscode/

# Build
dist/
build/

# misc
*.sqlite3
OOpspilot_hf/
Opspilot_hf/
